<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="E:/Epstein/PROJECT/src/main/resources/static/css/login.css">
    <title>로그인</title>

</head>
<body>
<section class="login">
    <img src="/img/logoRed.png" alt="CGV" width="150px"/><span>CULTUREPLEX</span>
    <h2>로그인</h2>
    <ul>
        <div id="login">
                <div id="select">
                    <select name="area" id="area" onchange="setAcode(this.value)">
                        <option value="none">지역선택</option>
<!--                        <option value="극장의 지역코드">서울</option>-->
<!--                        <option value="극장의 지역코드">경기</option>-->
                        <option value="1">서울</option>
                        <option value="2">경기</option>
                    </select>
                    <select name="theater" id="theater" disabled onchange="setTcode(this.value)">
                        <option value="none">극장선택</option>
                        <option value="tcode1">강남CGV</option>
                        <option value="tcode2">강남CGV</option>
                        <option value="tcode3">강남CGV</option>
                    </select>
                </div>
            <li>
                <input
                        required
                        id="userid"
                        type="text"
                        placeholder="아이디"
                        name="userid"
                />
            </li>
            <li>
                <input
                        required
                        id="userpw"
                        type="password"
                        placeholder="비밀번호"
                        minlength="4"
                        name="userpw"
                />
            </li>
            <li>
                <input type="button" value="로그인" onclick="login()"/>
            </li>
        </div>
    </ul>
</section>

</body>
<script src="/js/login.js"></script>
</html>