<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>mycgv-movielog-expected</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=1024" />
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작" />
    <meta name="description" content="CGV는 선진화된 관람문화와 최고의 서비스로 고객에게 잊을 수 없는 감동을 선사합니다. CGV홈페이지를 통해 영화 예매뿐만 아니라 그 이상의 서비스와 감동을 전달하고, 다양한 즐거움과 특별한 경험을 제공하고자 합니다." />
    <meta property="og:site_name" content="영화 그 이상의 감동. CGV"/>
    <meta id="ctl00_og_title" property="og:title" content="영화 그 이상의 감동. CGV"></meta>


    <meta id="ctl00_og_image" property="og:image" content="https://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png"></meta>
    <link rel="alternate" href="http://m.cgv.co.kr" />
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon" />
    <title id="ctl00_headerTitle"></title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css" />

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css" />
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css" />
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css" />

    <script type="text/javascript" src="/common/js/extraTheaters.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.config.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>

    <!--[if lte IE 9]><script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script><![endif]-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css" />

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/icheck/login.timer.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css" />

    <!-- 2020.05.07 감정지수/프리에그 프로젝트 추가 -->
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css" />

    <!-- 각페이지 Header Start-->

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket_20141103.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/style_201410.css" />
    <script src="https://img.cgv.co.kr/R2014/js/phototicket/util.js" type="text/javascript"></script>
    <!--add_css82
// 평점 등록및 보기 레이어 팝업 추가-->

    <script type="text/javascript">
        $(function () {
            // 레이어 팝업 닫기
            $(document.body).on("click", "#watched-charmCloseBtn", function () {
                closeLayerProc("watched-charmLayer");
                closeLayerProc("watched-registLayer");
            });
            // 관람 포인트 선택 확인 버튼 클릭시
            $(document.body).on("click", "#watched-charmRegBtn", function () {
                var charmObj = {};
                charmObj.acting = "N";
                charmObj.story = "N";
                charmObj.visual = "N";
                charmObj.ost = "N";
                charmObj.effect = "N";
                charmObj.emotion1 = "N";
                charmObj.emotion2 = "N";
                charmObj.emotion3 = "N";
                charmObj.emotion4 = "N";
                charmObj.emotion5 = "N";
                charmObj.genre_sms1 = $("#charmGenre_SMS1").val();

                if ($("#acting").prop("checked")) {
                    charmObj.acting = "Y";
                }
                if ($("#story").prop("checked")) {
                    charmObj.story = "Y";
                }
                if ($("#visual").prop("checked")) {
                    charmObj.visual = "Y";
                }
                if ($("#ost").prop("checked")) {
                    charmObj.ost = "Y";
                }
                if ($("#effect").prop("checked")) {
                    charmObj.effect = "Y";
                }
                if ($('#emotion1').prop("checked")) {
                    charmObj.emotion1 = "Y"
                }
                if ($('#emotion2').prop("checked")) {
                    charmObj.emotion2 = "Y"
                }
                if ($('#emotion3').prop("checked")) {
                    charmObj.emotion3 = "Y"
                }
                if ($('#emotion4').prop("checked")) {
                    charmObj.emotion4 = "Y"
                }
                if ($('#emotion5').prop("checked")) {
                    charmObj.emotion5 = "Y"
                }

                if (charmObj.acting == "N" && charmObj.story == "N" && charmObj.visual == "N" && charmObj.ost == "N" && charmObj.effect == "N") {
                    alert("매력 포인트를 1개 이상 선택해주세요.");
                    return;
                }

                if (charmObj.emotion1 == "N" && charmObj.emotion2 == "N" && charmObj.emotion3 == "N" && charmObj.emotion4 == "N" && charmObj.emotion5 == "N") {
                    alert("감정 포인트를 1개 이상 선택해주세요.");
                    return;
                }

                charmingEdit(charmObj);
            });
        });

        // 2020.05.07 관람 포인트 선택 레이어팝업
        function charmPointPop(commentIdx) {
            // 매력지수 항목 조회
            var charmObj = app.movie();
            if (!charmObj.GetCharmPoint) {
                charmObj.GetCharmPoint = function (data, callback, error) {
                    var url = '/common/ajax/point.aspx/GetCharmPoint_AddEmotion';
                    app.ajax().set({ dataType: 'json', url: url, data: data, contentType: "application/json; charset=utf-8", successHandler: callback });
                }
            };
            charmObj.GetCharmPoint(JSON.stringify({ 'commentIdx': commentIdx }), resultCharmCallback);

            //결과
            function resultCharmCallback(result) {
                var $std = $(this),
                    options = {
                        '$target': $std,
                        'type': 'center',
                        'html': $('#charmPoint').tmpl(result),
                        'independence': true,
                        'mask': 'none'
                    };

                app.instWin.add(options);
            };

            return false;
        }

        // 2020.05.07 관람 포인트 저장
        function charmingEdit(charmObj) {
            var movObj = app.movie();
            if (!movObj.setCharmEdit) {
                movObj.setCharmEdit = function (data, callback, error) {
                    var url = '/common/ajax/point.aspx/setCharm_AddEmotion';
                    app.ajax().set({ dataType: 'json', url: url, data: data, contentType: "application/json; charset=utf-8", successHandler: callback });
                }
            };

            movObj.setCharmEdit(JSON.stringify({ 'commentIdx': Number($("#charm-commentIdx").val())
                , 'movieIdx': Number($("#charm-movieIdx").val())
                , 'acting': charmObj.acting
                , 'story': charmObj.story
                , 'visual': charmObj.visual
                , 'ost': charmObj.ost
                , 'effect': charmObj.effect
                , 'genre_sms1': charmObj.genre_sms1
                , 'emotion1': charmObj.emotion1
                , 'emotion2': charmObj.emotion2
                , 'emotion3': charmObj.emotion3
                , 'emotion4': charmObj.emotion4
                , 'emotion5': charmObj.emotion5
            }), resultCharmingCallback);

            function resultCharmingCallback(result) {
                switch (result.resultCode) {
                    case "1":

                        alert("관람 포인트가 등록되었습니다.");
                        closeLayerProc("watched-charmLayer");
                        closeLayerProc("watched-registLayer");
                        break;
                    case "0":
                        alert("등록 중 오류가 발생 되었습니다.");
                        break;
                    default:
                        alert(result.resultCode);
                        break;
                }
            }
        }
    </script>

    <!--/각페이지 Header End-->
    <script type="text/javascript">
        //<![CDATA[
        _TRK_CP = "/홈";

        app.config('staticDomain', 'https://img.cgv.co.kr/R2014/')
            .config('imageDomain', 'https://img.cgv.co.kr')
            .config('isLogin', 'True');


        // AD FLOAT
        // 암호화 할 문자열과 키값(상수값)을 매개변수로 받는다.
        function EncryptAD(str, key) {
            output = new String;
            Temp = new Array();
            TextSize = str.length;
            for (i = 0; i < TextSize; i++) {
                // key 값을 원하는 대로 연산을 한다
                output += String.fromCharCode(str.charCodeAt(i) + parseInt(key) + 123 + i);
            }
            return output;
        }
        // 복호화
        // 암호화 된 문자열과 키값(상수값)을 매개변수로 받는다.
        function DecryptAD(str, key) {
            output = new String;
            Temp = new Array();
            TextSize = str.length;
            for (i = 0; i < TextSize; i++) {
                // 암호화시 사용한 연산과 같아야 한다.
                output += String.fromCharCode(str.charCodeAt(i) - (parseInt(key) + 123 + i));
            }

            return output;
        }

        function getCookieVal(offset) {
            var endstr = document.cookie.indexOf(";", offset);
            if (endstr == -1) endstr = document.cookie.length;
            return unescape(document.cookie.substring(offset, endstr));
        }
        function GetCookieAd(name) {
            var arg = name + "=";
            var alen = arg.length;
            var clen = document.cookie.length;
            var i = 0;
            while (i < clen) { //while open
                var j = i + alen;
                if (document.cookie.substring(i, j) == arg)
                    return getCookieVal(j);
                i = document.cookie.indexOf(" ", i) + 1;
                if (i == 0) break;
            } //while close
            return null;
        }
        function setCookieAD(name, value, expiredays) {
            var todayDate = new Date();
            todayDate.setTime(todayDate.getTime() + (expiredays * 24 * 60 * 60 * 1000));
            document.cookie = name + "=" + escape(value) + "; expires=" + todayDate.toGMTString() + "; path=/; domain=cgv.co.kr";
        }
        function CloseAD() {
            var AdUrl = window.location.href;
            var ArrAdUrl = AdUrl.split("/");

            var CurCookieName = 'CgvPopAd-' + ArrAdUrl[3];
            var CurCookieUrl = GetCookieAd(CurCookieName);
            var CookieUrl = ArrAdUrl[3];

            CookieUrl = EncryptAD(CookieUrl, "15442280");
            setCookieAD(CurCookieName, CookieUrl, '1');
            $(document).find('#ad_float1').hide();
        }
        function OpenAD() {
            var AdUrl = window.location.href;
            var ArrAdUrl = AdUrl.split("/");
            var CookieUrl = ArrAdUrl[3];
            var CurCookieName = 'CgvPopAd-' + ArrAdUrl[3];
            var CurCookieUrl = GetCookieAd(CurCookieName);

            if (CurCookieUrl == null) {
                CurCookieUrl = "";
            }
            else {
                CurCookieUrl = DecryptAD(CurCookieUrl, "15442280");
            }

            if (CurCookieUrl.indexOf(CookieUrl) != -1) {
                $(document).find('#ad_float1').hide();
            }

            //section.cgv.co.kr 매거진 체크
            var magazineckurl = GetCookieAd("CgvPopAd-magazine");
            if (magazineckurl != null) {
                var magazineck = DecryptAD(magazineckurl, "15442280");
                if (magazineck != null && magazineck == "magazine") {
                    //값이있는경우 표시하지않음
                    $(document).find('#ad_float1').hide();
                }
            }
        }



        //]]>
    </script>
</head>

<body class="">

<div th:replace="user/fragment/header :: header-user"></div>

<!-- Contaniner -->
<div id="contaniner"  class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->


    <!-- Contents Area -->
    <div id="contents" class="">


        <!-- Contents Start -->

        <input type="hidden" id="isIPIN" name="isIPIN" value="X8SFHrwIiO4jqLNbZjk1G51O01dZkw/3CEUATilV+Iq2ewdWF/B4UX0H9gp0Cqy/xlI7Hp1rldS6F9vGSuooaQ==" />

        <div id="dev2014">
            <div class="cols-content">

                <div class="col-aside">
                    <h2>프로필 및 서브메뉴</h2>
                    <div class="box-round-dgray">
                        <div class="box-round-inner">
                            <div class="inner-contents-profile">
                                <div class="box-image">
                                    <div class="thumb-image">
                                        <img src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif" alt="공유님 프로필 사진" onerror="errorImage(this, {type:'profile'})" />
                                        <span class="profile-mask"></span>

                                    </div>
                                    <!-- 등급종류 클래스 : vip, rvip, vvip -->
                                </div>
                                <div class="box-contents">
                                    <strong>공유님</strong>
                                    <a id="go_edit_page" href="#" class="edit" target="_blank" title="새창열림">나의 정보 변경</a>
                                    <em></em>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-round-on">
                        <div class="box-round-inner">
                            <div class="inner-contents-log">
                                <a href="#">
                                    <em>0</em>
                                    <strong>기대되는 영화</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-round-wgray">
                        <div class="box-round-inner">
                            <div class="inner-contents-log">
                                <a href="/user/mycgv-movielog-watched">
                                    <em>6</em>
                                    <strong>내가 본 영화</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="box-round-wgray">
                        <div class="box-round-inner">
                            <div class="inner-contents-log">
                                <a href="/user/mycgv-movielog-mylist">
                                    <em>0</em>
                                    <strong>내가 쓴 평점</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 화면깨짐 현상으로 div 안에 넣음//-->
                    <script type="text/javascript">
                        //<![CDATA[

                        (function ($) {
                            $(function () {

                                $('#go_edit_page').on('click', function () {
                                    var win = window.open("/user/mycgv-popupedit-profile", "profile", "left=0,top=o,width=445,height=440,toolbar=no,scrollbars=no");
                                    win.focus();
                                    return false;
                                });

                            });
                        })(jQuery);

                        //]]>
                    </script>
                </div>

                <div class="col-detail">
                    <div class="movielog-detail-wrap">
                        <!-- Title & Button Combo -->
                        <div class="tit-mycgv">
                            <h3>기대되는 영화</h3>
                            <p><em>0건</em></p>
                            <div class="sect-sorting">
                                <label for="order_type" class="hidden">정렬</label>
                                <select id="order_type" name="sort_field">
                                    <option value="1" title="현재 선택됨" selected>등록일 순</option>
                                    <option value="2">개봉일 순</option>
                                </select>
                                <button class="round gray" type="button"><span>GO</span></button>
                            </div>
                        </div>
                        <!-- //Title & Button Combo -->

                        <div class="sect-wishlist-lst none">
                            <p>기대되는 영화가 없습니다.<br />영화 상세 프리에그에서 '기대돼요!'를 선택하여 영화를 추가해보세요.</p>
                            <a href="/user/movies" class="round black" style="height: 25px"><span>무비차트</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <script type="text/javascript">
                //<![CDATA[

                (function ($) {
                    $(function () {
                        var $moreButton = $('#btn_itemmore');
                        var totalItemCount = 0;
                        var limit = 15;
                        var pageIndex = 1;
                        var maxItemCount = pageIndex * limit;

                        $('.sect-sorting button').click(function () {
                            var val = $('#order_type').val();
                            if (val) {
                                location.href = "/user/movielog/?ot=" + val;
                            }
                        });

                        //기대되는 영화 삭제
                        $('.sect-wishlist-lst .btn-del').click(function () {
                            RemoveFavoriteMovie($(this).val());
                        });

                        function RemoveFavoriteMovie(movieIdx) {
                            var data = "{ movieIdx : " + movieIdx.toString() + "}";
                            app.ajax().set({
                                dataType: 'json',
                                url: '/common/ajax/movies.aspx/RemoveFavoriteMovie',
                                contentType: "application/json; charset=utf-8",
                                data: data,
                                successHandler: function (result) {
                                    switch (result.resultCode) {
                                        case "1":
                                            alert("'기대되는 영화'에서 삭제되었습니다.");
                                            location.reload();
                                            break;
                                        case "-1":
                                            location.reload();
                                            break;
                                        case "-2":
                                            app.goLogin();
                                            break;
                                        default:
                                            alert("장애가 발생하였습니다. 잠시 후 다시 시도해 주세요.");
                                            break;
                                    }
                                }
                            });
                        }

                        $moreButton.on('click', function () {
                            searchWishList();
                        });

                        function searchWishList() {
                            var url = '/common/ajax/movielog.aspx/GetWishMovieList';
                            var data = {
                                'pageIndex': ++pageIndex,
                                'pageSize': limit,
                                'orderType': $('#order_type').val()
                            };
                            var callback = function (result) {
                                if(result == null || result.List == null) return;

                                maxItemCount = maxItemCount + limit;

                                if (totalItemCount <= maxItemCount) {
                                    $moreButton.hide();
                                    maxItemCount = totalItemCount;
                                }
                                else {
                                    $moreButton.find("em").text(maxItemCount);
                                    $moreButton.find("i").text(totalItemCount);
                                    $moreButton.focus();
                                }

                                $("#temp_wishlist").tmpl(result.List).appendTo("#wishlist_container");

                                //기대되는 영화 삭제
                                $('.sect-wishlist-lst .btn-del').click(function () {
                                    RemoveFavoriteMovie($(this).val());
                                });

                                $('span.screentype a').specialTheater();    //특별관 링크
                            }

                            app.ajax().get({ dataType: 'json', url: url, data: data, contentType: "application/json; charset=utf-8", successHandler: callback });
                        }

                    });

                })(jQuery);
                //]]>
            </script>



            <!--/ Contents End -->
        </div>
        <!-- /Contents Area -->
    </div>
    <!-- E Contaniner -->

    <!-- S Popup -->
    <div class="com_pop_wrap">
        <div class="com_pop_fog"></div>
    </div>
    <div class="pop_wrap">
        <!-- S > [팝업] 지원 OS 업데이트 유도-->
        <div id="pop_supportOS" class="popup" style="display:none">
            <div class="pop_iexp_wrap" style="position:fixed; left:50%; top:50%; width:600px; margin:-165px 0 0 -300px; z-index:1000;">
                <div class="pi_headline">
                    <img src="https://img.cgv.co.kr/images/popup/1606_iexp/pop_iexp_headline2.jpg" alt="CGV 홈페이지는 고객님께서 사용중인 MS Windows XP에서 정상적인 서비스 이용이 어려울 수 있으며, OS업데이트를 권장합니다." />
                </div>
                <div class="down_app">
                    <p><img src="https://img.cgv.co.kr/images/popup/1606_iexp/pop_iexp_downtxt.jpg" alt="OS 업데이트가 어려운 경우 모바일앱을 이용하세요!!!" /></p>
                    <a class="btn" href="https://itunes.apple.com/kr/app/id370441190?mt=8" target="_blank"><img src="https://img.cgv.co.kr/images/popup/1606_iexp/btn_down_ios.jpg" alt="Ios down" /></a>
                    <a class="btn" href="https://play.google.com/store/apps/details?id=com.cgv.android.movieapp" target="_blank"><img src="https://img.cgv.co.kr/images/popup/1606_iexp/btn_down_android.jpg" alt="Android down" /></a>
                </div>
                <a class="btn_close">닫기</a>
            </div>
        </div>
        <!-- S > [팝업] 지원 브라우저 다운로드 유도-->
        <div id="pop_supportBrower" class="popup" style="display:none">
            <div class="pop_iexp_wrap" style="position:fixed; left:50%; top:50%; width:600px; margin:-265px 0 0 -300px; z-index:1000;">
                <div class="pi_headline">
                    <img src="https://img.cgv.co.kr/images/popup/1606_iexp/pop_iexp_headline1.jpg" alt="CGV 홈페이지는 Internet Explorer 9이상에서 최적의 서비스 이용이 가능합니다. IE9 이하 브라우저에서 이용 시 정상적인 서비스 이용이 어려울 수 있으며, 브라우저 업그레이드 하시기를 권장합니다." />
                </div>
                <ul class="down_browser">
                    <li><a href="https://www.microsoft.com/ko-kr/edge" target="_blank"><img src="https://img.cgv.co.kr/images/popup/1606_iexp/btn_down_ie.jpg" alt="Internet Explorer 다운받기" /></a></li>
                    <li><a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank"><img src="https://img.cgv.co.kr/images/popup/1606_iexp/btn_down_chrome.jpg" alt="Chrome 다운받기" /></a></li>
                </ul>
                <div class="down_app">
                    <p><img src="https://img.cgv.co.kr/images/popup/1606_iexp/pop_iexp_downtxt.jpg" alt="OS 업데이트가 어려운 경우 모바일앱을 이용하세요!" /></p>
                    <a class="btn" href="https://itunes.apple.com/kr/app/id370441190?mt=8" target="_blank"><img src="https://img.cgv.co.kr/images/popup/1606_iexp/btn_down_ios.jpg" alt="Ios down" /></a>
                    <a class="btn" href="https://play.google.com/store/apps/details?id=com.cgv.android.movieapp " target="_blank"><img src="https://img.cgv.co.kr/images/popup/1606_iexp/btn_down_android.jpg" alt="Android down" /></a>
                </div>
                <a class="btn_close">닫기</a>
            </div>
        </div>
    </div>

    <div th:replace="user/fragment/footer:: footer-user"></div>


</div>
</body>
</html>