<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>support</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=1024" />
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작" />
    <meta name="description" content="CGV는 선진화된 관람문화와 최고의 서비스로 고객에게 잊을 수 없는 감동을 선사합니다. CGV홈페이지를 통해 영화 예매뿐만 아니라 그 이상의 서비스와 감동을 전달하고, 다양한 즐거움과 특별한 경험을 제공하고자 합니다." />
    <meta property="og:site_name" content="영화 그 이상의 감동. CGV"/>
    <meta id="ctl00_og_title" property="og:title" content="영화 그 이상의 감동. CGV"></meta>


    <meta id="ctl00_og_image" property="og:image" content="https://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png"></meta>
    <link rel="alternate" href="http://m.cgv.co.kr" />
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon" />
    <title id="ctl00_headerTitle"></title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css" />

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css" />
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css" />
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css" />

    <script type="text/javascript" src="/common/js/extraTheaters.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.config.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--[if lte IE 9]><script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script><![endif]-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css" />

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/icheck/login.timer.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css" />
    <script type="text/javascript">
        $(document).ready(function(){
            $("#support").addClass("on")
        });
    </script>
    <!-- 2020.05.07 감정지수/프리에그 프로젝트 추가 -->
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css" />

    <!-- 각페이지 Header Start-->

    <link rel="stylesheet" media="all" type="text/css" href="http://img.cgv.co.kr/R2014/css/customer.css" />


    <!--/각페이지 Header End-->
    <script type="text/javascript">
        //<![CDATA[
        _TRK_CP = "/홈";
        app.config('staticDomain', 'https://img.cgv.co.kr/R2014/')
            .config('imageDomain', 'https://img.cgv.co.kr')
            .config('isLogin', 'False');
        // AD FLOAT
        // 암호화 할 문자열과 키값(상수값)을 매개변수로 받는다.
        function EncryptAD(str, key) {
            output = new String;
            Temp = new Array();
            TextSize = str.length;
            for (i = 0; i < TextSize; i++) {
                // key 값을 원하는 대로 연산을 한다
                output += String.fromCharCode(str.charCodeAt(i) + parseInt(key) + 123 + i);
            }
            return output;
        }
        // 복호화
        // 암호화 된 문자열과 키값(상수값)을 매개변수로 받는다.
        function DecryptAD(str, key) {
            output = new String;
            Temp = new Array();
            TextSize = str.length;
            for (i = 0; i < TextSize; i++) {
                // 암호화시 사용한 연산과 같아야 한다.
                output += String.fromCharCode(str.charCodeAt(i) - (parseInt(key) + 123 + i));
            }
            return output;
        }
        function getCookieVal(offset) {
            var endstr = document.cookie.indexOf(";", offset);
            if (endstr == -1) endstr = document.cookie.length;
            return unescape(document.cookie.substring(offset, endstr));
        }
        function GetCookieAd(name) {
            var arg = name + "=";
            var alen = arg.length;
            var clen = document.cookie.length;
            var i = 0;
            while (i < clen) { //while open
                var j = i + alen;
                if (document.cookie.substring(i, j) == arg)
                    return getCookieVal(j);
                i = document.cookie.indexOf(" ", i) + 1;
                if (i == 0) break;
            } //while close
            return null;
        }
        function setCookieAD(name, value, expiredays) {
            var todayDate = new Date();
            todayDate.setTime(todayDate.getTime() + (expiredays * 24 * 60 * 60 * 1000));
            document.cookie = name + "=" + escape(value) + "; expires=" + todayDate.toGMTString() + "; path=/; domain=cgv.co.kr";
        }
        function CloseAD() {
            var AdUrl = window.location.href;
            var ArrAdUrl = AdUrl.split("/");
            var CurCookieName = 'CgvPopAd-' + ArrAdUrl[3];
            var CurCookieUrl = GetCookieAd(CurCookieName);
            var CookieUrl = ArrAdUrl[3];
            CookieUrl = EncryptAD(CookieUrl, "15442280");
            setCookieAD(CurCookieName, CookieUrl, '1');
            $(document).find('#ad_float1').hide();
        }
        function OpenAD() {
            var AdUrl = window.location.href;
            var ArrAdUrl = AdUrl.split("/");
            var CookieUrl = ArrAdUrl[3];
            var CurCookieName = 'CgvPopAd-' + ArrAdUrl[3];
            var CurCookieUrl = GetCookieAd(CurCookieName);
            if (CurCookieUrl == null) {
                CurCookieUrl = "";
            }
            else {
                CurCookieUrl = DecryptAD(CurCookieUrl, "15442280");
            }
            if (CurCookieUrl.indexOf(CookieUrl) != -1) {
                $(document).find('#ad_float1').hide();
            }
            //section.cgv.co.kr 매거진 체크
            var magazineckurl = GetCookieAd("CgvPopAd-magazine");
            if (magazineckurl != null) {
                var magazineck = DecryptAD(magazineckurl, "15442280");
                if (magazineck != null && magazineck == "magazine") {
                    //값이있는경우 표시하지않음
                    $(document).find('#ad_float1').hide();
                }
            }
        }
        //]]>
    </script>



</head>
<body class="">

<div th:replace="user/fragment/header :: header-user"></div>

<!-- Contaniner -->
<div id="contaniner"  class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->

    <!-- Contents Area -->
    <div id="contents" class="">

        <!-- Contents Start -->
        <div class="cols-content">
            <div th:replace="user/support/fragment/nav :: nav-user"></div>

            <div class="col-detail">
                <div class="c_check_warp">
                    <div class="c_box qna_search">
                        <strong class="c_tit">자주찾는 질문 빠른검색</strong>
                        <legend><label for="searchtext">검색</label></legend>
                        <div class="search_box">
                            <input id="searchtext" type="text" title="검색어 입력" placeholder="검색어를 입력해 주세요." style="margin-top: 5px"/>
                            <a href="/support/support-faq"><button type="button" class="btn_search" title="검색하기" id="btn_search">검색</button></a>
                        </div>
                        <div class="c_qu">

                            <a href="#none">현금영수증</a>

                            <a href="#none">관람권</a>

                            <a href="#none">예매</a>

                            <a href="#none">환불</a>

                            <a href="#none">취소</a>

                            <a href="#none"></a>

                        </div>
                    </div>
                    <div class="c_box talk_inquiry" style="cursor:pointer;width: 23%;">
                        <strong class="c_tit">상담톡 이용</strong>
                        <span class="c_txt">상담 톡을 이용해보세요.</span>
                        <a href="/support">문의하기</a>
                    </div>
                    <div class="c_box email_inquiry" style="cursor:pointer;width: 23%;">
                        <strong class="c_tit">이메일 문의</strong>
                        <span class="c_txt">24시간 365일 언제든지 문의해주세요.</span>
                        <a href="/support/support-qna">문의하기</a>
                    </div>
                    <div class="c_box my_advice"  style="cursor:pointer;width: 23%;">
                        <strong class="c_tit">내 상담 내역 확인</strong>
                        <span class="c_txt">문의하신 내용을 확인하실 수 있습니다.</span>
                        <a href="/user/mycgv/inquiry/mycgv-qna-list">문의내역 조회</a>
                    </div>
                </div>
                <div class="customer_notice_area">
                    <div class="service_area">
                        <span class="tit">자주찾는 서비스</span>
                        <ul class="list">
                            <li><a href="/user/mycgv/point/mycgv-cgvPoint-pointList" title="새창열기">나의 포인트<br/>찾아보기</a></li>

                            <!-- 로그아웃일 경우에만 링크  -->

                            <li><a href="/support" title="새창열기">아이디/<br/>비밀번호 찾기</a></li>

                            <!-- 로그아웃일 경우에만 링크  -->

                            <li><a href="/user/mycgv/mycgv-reserve" title="새창열기">예매/<br/>취소내역 확인</a></li>

                            <!-- 로그아웃일 경우에만 링크  -->

                            <li><a href="/user/login-agreement"  target="_blank" title="새창열기">비회원<br/>예매확인/취소</a></li>

                            <!-- 로그아웃일 경우에만 링크  -->

                            <li><a href="/user/mycgv/point/mycgv-cgvPoint-pointInfo">멤버십포인트<br/>사용안내</a></li>
                            <li><a href="/user/mycgv/mycgv-popcorn-store">기프트콘<br/>할인쿠폰 등록</a></li>
                        </ul>
                    </div>
                    <div class="notice_area">
                        <a href="/support/support-news">
                            <span class="tit">공지/뉴스</span>
                        </a>
                        <ul class="txt">

                            <li><a href="/support/support-news">[기타] 22년 VIP 선정 기준 변경 및 추가 기준 관련 안내</a><span class="day">2021.09.01</span></li>

                            <li><a href="/support/support-news">[기타] 2021 SVIP 스페셜 기프트 신청 안내 </a><span class="day">2021.06.29</span></li>

                            <li><a href="/support/support-news">[극장] 연말연시 특별 방역 조치에 따른 극장 운영 시간 조정 안내</a><span class="day">2020.12.04</span></li>

                            <li><a href="/support/support-news">[기타] 포토플레이 서비스 개선 안내 </a><span class="day">2020.09.15</span></li>

                            <li><a href="/support/support-news">[기타] 영진위 지원사업-“모든요일 6천원 할인”이벤트 조기 종료 안내 (8/16 종료)</a><span class="day">2020.08.16</span></li>

                        </ul>
                        <a href="/support/support-news" class="more">공지/뉴스 더보기</a>
                        <div class="noti_ban_area">
                            <a href="./defaultNew.jsp?mCode=001" class="ban_preview">CGV PREVIEW</a>
                            <a href="/user/discount" class="ban_discount">DISCOUNT INFO 할인카드 및 혜택 안내</a>
                        </div>
                    </div>
                </div>
                <div class="shortcu_area">
                    <ul>
                        <li>
                            <strong class="tit_shortcut ico_lost">분실물 문의</strong>
                            <span class="txt">CGV에서 잃어버리신 물건을 신속하게 찾아 드리는 서비스</span>
                            <a href="/support/support-lost" class="round gray on" title=""><i>바로가기</i></a>
                        </li>
                        <li>
                            <strong class="tit_shortcut ico_general">대관/단체 서비스</strong>
                            <span class="txt">CGV에서 진행하는 우리만의 특별한 이벤트 색다른 문화행사</span>
                            <a href="/support/support-lease" class="round gray on" title=""><i>바로가기</i></a>
                        </li>
                        <li>
                            <strong class="tit_shortcut ico_vipinfo">VIP 안내</strong>
                            <span class="txt">영화를 사랑하는 당신에게 드리는 특별한 CGV만의 VIP혜택</span>
                            <a href="/user/vip-lounge" class="round gray on" title="새창열기"><i>바로가기</i></a>
                        </li>
                        <li>
                            <strong class="tit_shortcut ico_vipcustomer">VIP 고객센터</strong>
                            <span class="txt">VIP 고객님들께 알려드리는<br/>VIP 혜택 제대로 활용하는 방법</span>
                            <a href="#" target="_blank" class="round gray on" title="새창열기"><i>바로가기</i></a>
                        </li>
                    </ul>
                </div>
                <ul class="tel_inquiry">
                    <li>CGV 고객센터 : 1544-1122<span class="time">(상담가능 시간, 월~금 09:00~18:00) *이 외 시간은 자동 응답 안내 가능</span></li>
                </ul>
            </div>
        </div>
        <!-- //Contents End -->
    </div>
    <!-- //Contents Area -->
    <script type="text/javascript">
        //<![CDATA[
        (function ($) {
            $(function () {
                $('#btn_search').on('click', function () {
                    if ($('#searchtext').val() == "") {
                        alert("검색어를 입력해 주세요.");
                        $('#searchtext').focus();
                        return false;
                    } else {
                        Search();
                    }
                });
                $('#searchtext').keypress(function(event){
                    if(event.which == 13){
                        if ($('#searchtext').val() == "") {
                            alert("검색어를 입력해 주세요.");
                            $('#searchtext').focus();
                            return false;
                        } else {
                            Search();
                        }
                    }
                });
                function Search() {
                    location.href = "/support/support-faq?searchtext=" + escape($("#searchtext").val());
                    //return false;
                }
                $('.c_qu').children('a').on("click", function () {
                    location.href = "/support/support-faq?searchtext=" + escape($(this).html());
                    //return false;
                });
                $('.email_inquiry').on('click', function () {
                    location.href = "/support/support-qna";
                });
                /**  중복링크 제거
                 $('.my_advice').on('click', function () {
                var openNewWindow = window.open("/user/mycgv/inquiry/qna/list.aspx?g=1#contaniner", "_blank");
                if (openNewWindow)
                    openNewWindow.submit();
                else
                    alert("팝업이 허용되어 있지 않습니다.");
                //openNewWindow.focus();
                return false;
            });
                 **/
                $('.talk_inquiry').on('click', function () {
                    var popupWidth = 600;
                    var popupHeight = 600;
                    // 듀얼 모니터 기준
                    var _left = (screen.availWidth - popupWidth) / 2;
                    if( window.screenLeft < 0){
                        _left += window.screen.width*-1;
                    }
                    else if ( window.screenLeft > window.screen.width ){
                        _left += window.screen.width;
                    }
                    var _top= (screen.availHeight - popupHeight) / 2 - 10;
                    var openNewWindow = window.open("https://cgv.enomix.co.kr/sharedfront/jsp/view/chatWindow.jsp?channelId=pcweb", "cgvTalk", "width="+popupWidth+",height="+popupHeight+",resizable=yes, toolbar=no, menubar=no, status=no, scrollbars=yes,left="+ _left + ", top="+ _top);
                    if (openNewWindow)
                        openNewWindow.submit();
                    else
                        alert("팝업이 허용되어 있지 않습니다.");
                    //openNewWindow.focus();
                    return false;
                });
            });
        })(jQuery);
        //]]>
    </script>


    <!--/ Contents End -->
</div>
<!-- /Contents Area -->
</div>
<div th:replace="user/fragment/footer :: footer-user"></div>


</div>

</body>
</html>