

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="alternate" href="http://m.cgv.co.kr" />
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon" />
    <title id="ctl00_headerTitle"></title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css" />

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css" />
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css" />
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css" />


    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css" />

    <!-- 2020.05.07 감정지수/프리에그 프로젝트 추가 -->
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css" />

    <!-- 각페이지 Header Start-->

    <!--/각페이지 Header End-->


    <meta charset="EUC-KR">
    <title>Insert title here</title>
</head>
<body class="">

<div th:replace="user/fragment/header :: header-user"></div>
<div></div>
<div class="skipnaiv">
    <a href="#contents" id="skipHeader">메인 컨텐츠 바로가기</a>
</div>

<div id="contaniner" class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->


        <!-- Contents Start -->

        <!-- Contents Area -->
        <div id="contents" class="">
            <div class="tit-heading-wrap">
                <h3>
                    관람가격 안내</h3>
                <div class="sortmenu">
                    <!-- on 클래스 활성화 -->
                    <!--<a href="#" class="on">지역별</a> · <a href="#">특별관</a>-->
                    <a id="a_right_smenu_reg" href="javascript:fnSetMenuToggle('R','reg')" class="on">
                        지역별
                    </a>
                </div>
            </div>

            <div class="movie_price">
                <div class="area_select">
                    <select id="selTH_Region" class="area_sel1" name="selTH_Region" title="지역선택" onchange="fnTheaterRegionSel(this.value);">
                        <option value="1">서울</option>
                        <option value="2">경기</option>
                    </select>

                    <!-- 이부분에서 등록한 상영관을 반복문으로 띄워줍니다. -->
                    <select id="selTH_Theater" class="area_sel2" name="selTH_Theater" title="영화관선택" onchange="fnTheaterSel(this.value);">

                    </select>
                </div>
                <div class="mp_content">
                    <div class="mp_section">
                        <div id="div_infotit_box" class="mp_info" style="display: block;">

                        </div>


                        <div id="div_TheaterPrice_box">
                            <!-- 입력한 금액이 해당 상영관에 맞춰서 띄워지는 부분입니다. -->
                            <div class="mp_tablebox" id="div_theatercode_0056">
                                <div class="mp_table_item" style="padding:20px; margin: 0 auto; float: none; width:auto !important;">
                                <div class="mp_tit cls_price_class">일반(2D)</div>
                                    <div class="mp_table cls_price_class">
                                <table summary="일반(2D) 관람가격 정보 입니다.">
                                    <caption>일반(2D) 관람가격 정보</caption>
                                    <colgroup>
                                        <col style="width:15%">
                                        <col style="width:49%">
                                        <col style="width:18%">
                                        <col style="width:18%">
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        <th scope="row">요일</th>
                                        <th scope="row">시간대</th>
                                        <th scope="row">일반</th>
                                        <th scope="row">청소년</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    </tbody>

                                </table></div></div>

                            </div>

                            <!-- // 지역별 극장별 변경 영역 -->
                            <div id="str_tip_info" class="mp_nodata" style="display: none">
                                <strong>가격 안내 정보 업데이트 예정 입니다.</strong>
                            </div>
                        </div>
                        <!-- // mp_section -->
                        <ul id="sec_desc_tip_text" class="mp_etc" style="display: block;">
                            <p><strong>■ 장애/경로&nbsp;및 국가유공자</strong><br>
                                &nbsp;</p>


                            <p><em>경로&nbsp;: 2D: 6</em>,000ㆍ<em>3D: 9</em>,000<br>
                                <em>우대 : 2D:&nbsp;</em>5,000ㆍ<em>3D:&nbsp;</em>8,000</p>

                            <p><em>4DX 2D: 10</em>,000원 ~ 11,000원<br>
                                <em>4DX 3D:&nbsp;</em>13,000원 ~ 15,000원<br>
                                <em>SCREENX 2D</em>: 8,000원&nbsp;&nbsp;<br>
                                <br>
                                ※ 우대요금은 시간대별로 상이하며 4DX, SCREENX&nbsp;외 특별관은 우대가격이 적용되지 않습니다.<br>
                                <br>
                                ※ 상영관 A~B열은 -1천원 할인 적용됩니다. (단, 모닝 및 일부 특별관 제외)</p>
                        </ul>
                        <p class="desc_bil">
                            ※관람 가격 및 시간대 운영은 극장마다 상이할 수 있으며, 상기 가격은 <em id="spn_desc_bil">CGV 강남</em>에 한해 적용됩니다.</p>
                    </div>
                    <!--// mp_content -->
                </div>
            </div>



            <!--/ Contents End -->
        </div>
        <!-- /Contents Area -->
    </div>
<div th:replace="user/fragment/footer:: footer-user"></div>



</div>


</body>
<script th:inline="javascript">

    /*<![CDATA[*/
    let pricelistArray=new Array();
    pricelistArray= [[${theaterprice}]]
    let tname=[[${theater.getTname()}]]
    let receiveArea=[[${theater.getAreacode()}]]
    /*]]>*/
    let selTH_Region=document.getElementById('selTH_Region');
    let selTH_Theater=document.getElementById('selTH_Theater');
    let tbody=document.querySelector('tbody');
    start(receiveArea);
    readTbody(pricelistArray);

    function start(areacode){
        for(let i=0; i<=selTH_Region.options.length-1; i++){
            if(areacode == selTH_Region.options[i].value){
                selTH_Region.options[i].setAttribute('selected',true)
            }
            if(areacode == 1){
                selTH_Theater.innerHTML=
                    `<option value="강남CGV">강남CGV</option>
                        <option value="강변CGV">강변CGV</option>

                    `
            }else{
                selTH_Theater.innerHTML=
                    `
                        <option value="경기광주CGV">경기광주CGV</option>
                        <option value="동수원CGV">동수원CGV</option>
                        <option value="용인CGV">용인CGV</option>
                    `
            }
        }
        for(let i=0; i<=selTH_Theater.options.length-1; i++){
            if(tname == selTH_Theater.options[i].value){
                selTH_Theater.options[i].setAttribute('selected',true)
            }
        }

    }



    // 지역 선택시 영화관 리스트 변경
    function fnTheaterRegionSel(areacode) {
        selTH_Theater.innerHTML="";
        $.ajax({
            url: "/theatersList",
            data: {areacode, areacode},
            type: "post",
            dataType: "json"
        }).done(function (res) {
            for (let i = 0; i <= res.length - 1; i++) {
                selTH_Theater.innerHTML+=
                    `
                    <option value="${res[i].tname}">${res[i].tname}</option>
                    `
            }
        })
    }

    function fnTheaterSel(tname){
        $.ajax({
            url: "/TheaterName",
            data:{tname, tname},
            type:'post',
            dataType: "json"
        }).done(function(res){
            console.log(res)
            location.href='/theaters/theaterPrice/'+res.tcode;
        })

    }


    // tbody에 내용 입력하기
    function readTbody(theater){
        if(theater.length==0){
            tbody.innerHTML=
                `<tr class="fir">
                                        <td colspan="4" rowspan="4">
                                        극장에서 입력한 가격 정보가 없습니다.</td>
                    </tr>`
        }

        tbody.innerHTML=
            `
                <tr class="fir">
                                        <td rowspan="3">${theater[0].week}</td>
                                        <td class="tal">${theater[0].slot}</td>
                                        <td>${theater[0].adultPrice}</td>
                                        <td>${theater[0].stuPrice}</td>
                                    </tr>
                                    <tr>
                                        <td class="tal">${theater[1].slot}</td>
                                        <td>${theater[1].adultPrice}</td><td>${theater[1].stuPrice}</td>
                                    </tr>
                                    <tr class="last"><td class="tal">${theater[2].slot}</td>
                                        <td>${theater[2].adultPrice}</td><td>${theater[2].stuPrice}</td>
                                    </tr>

                                    <tr class="fir">
                                        <td rowspan="3">${theater[3].week}</td>
                                        <td class="tal">${theater[3].slot}</td>
                                        <td>${theater[3].adultPrice}</td><td>${theater[3].stuPrice}</td></tr>
                                    <tr>
                                        <td class="tal">${theater[4].slot}</td>
                                        <td>${theater[4].adultPrice}</td><td>${theater[4].stuPrice}</td>
                                        </tr>
                                    <tr>
                                        <td class="tal">${theater[5].slot}</td>
                                        <td>${theater[5].adultPrice}</td><td>${theater[5].stuPrice}</td>
                                    </tr>
            `

    }

</script>
</html>