<!DOCTYPE html >
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<body class="sb-nav-fixed" th:fragment="nav-user">
<div class="col-aside">
    <h2>
        고객센터 메뉴</h2>
    <div class="snb">
        <ul>
            <li class=''><a href="/support">고객센터 메인<i></i></a></li>
            <li class=''><a href="/user/support-faq" title="현재선택">자주찾는 질문<i></i></a></li>
            <li class=''><a href="/user/support-news">공지/뉴스<i></i></a></li>
            <li class=''><a href="/user/support-qna">이메일 문의<i></i></a></li>
            <li class=''><a href="/user/support-lost">분실물 문의<i></i></a></li>
            <li class=''><a href="/user/support-lease">단체/ 대관 문의<i></i></a></li>
        </ul>
    </div>

</div>
</body>
</html>