<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8"/>
    <title>회원가입 완료│CGV</title>
    <meta name="Description" content="CJ ONE 이란 문화, 외식, 쇼핑, 엔터테인먼트 등 CJ의 30여개 라이프스타일 브랜드에서 사용하실 수 있는 통합멤버십카드입니다. CJ ONE은 한 장의 카드로 최대 10% 포인트 적립 , 최대 10% 할인,  그리고 다양한 문화 공연헤택을 한번에 즐기실 수 있으며,  ONE PICK(원픽), ONE BOX(원박스), ONE TICKET(원티켓) 등 추첨이벤트에 참여하실 수 있습니다." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge ,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />

    <link rel="shortcut icon" href="/cjmweb/images/ico/favicon.ico" type="images/x-ico" />
    <link rel="alternate" href="https://m.cjone.com:8443/cjmmobile/member/joinMbr.do" />
    <script type="text/javascript">
        var contextPath = '/cjmweb';
        var KAKAO_API_KEY = '450b870dc06d7b1a5c68c6f5f15f6c1d';
        var KAKAO_FRIEND_ID = '_zzbBC';
    </script>
    <script src="/cjmweb/js/jquery-1.11.3.min.js"></script>
    <script src="/cjmweb/js/common.js"></script>
    <script src="/cjmweb/js/form.validate.js"></script>


    <link rel="stylesheet" href="/css/base.css" >
    <link rel='stylesheet' href='/css/participate.css' >
    <link rel="stylesheet" media="all" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" media="all" type="text/css" href="/css/layout.css" />
    <script src="//assets.adobedtm.com/0407c2ad87ec/ccd34ba4334d/launch-ca12288082e7.min.js" async></script>

</head>

<body>
<!--skip navigation-->
<div class="skipNavi">
    <a href="#contentsWrap">본문으로 바로가기</a>
</div>
<!--//skip navigation-->

<div id="bodyWrap" class="wide">

    <!--header-->

    <!--header-->
    <div id="cgvwrap">
        <div class="header_content">
            <div class="contents" style="width:980px; margin:0 auto;">
                <h1><a href="/main"><img src="/img/logoRed.png"
                                         alt="CGV" /></a><span>CULTUREPLEX</span></h1>
                <ul class="memberInfo_wrap">
                    <div class="ad-partner">
                        <a href="#">
                            <img src="/img/16417749747880.png"
                                 alt="현대M포인트" />
                        </a>
                    </div>

                    <th:block th:if="${session.userid==null}">
                        <li>
                            <a href="/user/login">
                                <img src="/img/loginPassword.png" alt="로그인"/>
                                <span>로그인</span></a>
                        </li>
                        <li>
                            <a href="/user/agreement">
                                <img src="/img/loginJoin.png" alt="회원가입"/>
                                <span>회원가입</span>
                            </a>
                        </li>
                        <li>
                            <a href="/user/login" onclick="alert('로그인 후 이용해주세요')">
                                <img src="/img/loginMember.png" alt="MY CGV"/>
                                <span>MY CGV</span></a
                            >
                        </li>
                    </th:block>
                    <th:block th:unless="${session.userid==null}">
                        <li>
                            <a href="/user/logout">
                                <img src="/img/loginPassword.png" alt="로그아웃"/>
                                <span>로그아웃</span></a>
                        </li>
                        <li>
                            <a href="/user/mycgv">
                                <img src="/img/loginMember.png" alt="MY CGV"/>
                                <span>MY CGV</span></a
                            >
                        </li>

                    </th:block>

                    <li>
                        <a href="/support">
                            <img src="/img/loginCustomer.png" alt="고객센터" />
                            <span>고객센터</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--//header-->


<!--    <script>-->
<!--        let entitiy = {-->

<!--        }-->
<!--    </script>-->

    <!--contents -->
    <div id="contentsWrap">
        <div id="contents">
            <!--title-->
            <div class="cont_area">
                <div class="member_join">
                    <!--step-->
                    <div class="step_join">

                        <ul class="col4">
                            <li class="step2">약관동의 <span class="haze">진행 완료</span><span class="line"></span></li>
                            <li class="step3">회원정보 입력 <span class="haze">진행 완료</span><span class="line"></span></li>
                            <li class="step4 on">가입완료 <span class="haze">진행 중</span></li>
                        </ul>


                    </div>
                    <!--//step-->
                    <div class="join_success">
                        <div class="box_member">
                            <h2 class="haze">가입 완료</h2>
                            <div class="certi_txt check">
                                <span class="ico"></span>
                                <p class="b_txt"><strong class="em">CGV  회원가입</strong>을 축하합니다.</p>
                            </div>
                            <div class="btn_sec col2">
                                <a href="/main" class="btn btn_em" title="CGV 웹사이트">홈페이지 바로가기</a>
                            </div>
                            <div class="uesr_data">
                                <h3 class="haze">내 정보</h3>
                                <dl>
                                    <dt>CGV  아이디</dt>
                                    <dd class="em"><span th:text="${memberinfo.getUsername()}"></span></dd>
                                </dl>

                                <dl class="marketing_data">
                                    <dt>CGV</dt>
                                    <dd>
                                        <span th:text="일시 + ${#temporals.format(memberinfo.getRegDate(), 'yyyy-MM-dd')}"></span>


                                        <span class="last">
														수신 미동의 :
													E-mail
														,

					 								SMS
					 									,

					 								휴대전화
												</span>

                                    </dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//contens-->

    <!-- footer -->
    <div th:replace="user/fragment/footer :: footer-user"></div>
    <!-- //footer -->
</div>
<!--script 영역-->
<script src="/cjmweb/js/modules/cjoneCore.js"></script>
<script src="/cjmweb/js/modules/commonUi.js"></script>
<script src="/cjmweb/js/frontUi.js"></script>
<script src="/cjmweb/js/modules/jquery.bxslider.js"></script>

<script type="text/javascript">
    function goCpnDetail(result) {
        $.ajaxSetup({
            data: {cpn_cd: result},
            type: 'GET',
            global: false,
            beforeSend: function () {
                console.log('beforeSend');
            },
            error: function () {
                console.log('error');
            },
            success: function () {
                console.log('success');
            },
            complete: function () {
                console.log('complete');
            }
        });
        cjone.openModal('/cjmweb/layer/event-coupon/coupon-detail-info.do');
    }

    //심플로그인 팝업
    function fn_SimpleLogin(return_url)
    {
        simpleLoginAction('/cjmweb'+return_url,'');
    }
</script>
<!--//script 영역-->
</body>
</html>
