<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=1024" />
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작" />
    <meta name="description" content="CGV는 선진화된 관람문화와 최고의 서비스로 고객에게 잊을 수 없는 감동을 선사합니다. CGV홈페이지를 통해 영화 예매뿐만 아니라 그 이상의 서비스와 감동을 전달하고, 다양한 즐거움과 특별한 경험을 제공하고자 합니다." />
    <meta property="og:site_name" content="영화 그 이상의 감동. CGV"/>
    <meta id="ctl00_og_title" property="og:title" content="영화 그 이상의 감동. CGV"></meta>


    <meta id="ctl00_og_image" property="og:image" content="https://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png"></meta>
    <link rel="alternate" href="http://m.cgv.co.kr" />
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon" />
    <title id="ctl00_headerTitle"></title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css" />

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css" />
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css" />
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css" />

    <script type="text/javascript" src="/common/js/extraTheaters.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.config.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>

    <!--[if lte IE 9]><script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script><![endif]-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css" />

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/icheck/login.timer.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css" />

    <!-- 2020.05.07 감정지수/프리에그 프로젝트 추가 -->
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css" />

    <!-- 각페이지 Header Start-->


    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/common/netfunnel.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var isBricks = true;
            $('.sect-aside-banner').asideMenu({ isMain: true, 'isBricks': isBricks });
            $('.sect-aside-banner').asideRePosition();
            $.giftstore_fixObj(this, $('.category_contents_wrap'), $('.category_content'), $('.giftstore_logo'));
        });

        //결제내역
        function fn_PaymentDetail() {
            location.href = "/user/mycgv/popcorn-store/payment-detail;
        }
    </script>

    <!--/각페이지 Header End-->


</head>
<body class="">

<div th:replace="user/fragment/header :: header-user"></div>

<!-- Contaniner -->
<div id="contaniner"  class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->


    <!-- Contents Area -->
    <div id="contents" class="">


        <!-- Contents Start -->

        <!-- S 카테고리 메뉴 & 받은선물/장바구니 -->


        <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/giftstore/giftstore.js"></script>
        <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/giftstore/commonstore.js"></script>

        <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/giftstore/giftstore.css" />

        <script>
            history.navigationMode = 'compatible';
            $(document).ready(function () {
                $.giftstore_fixObj(this, $('.category_contents_wrap'), $('.category_content'), $('.giftstore_logo'));

                //영역 문제로 gift_store 클래스 추가
                $("#contents").addClass("gift_store");

                if (cname != "") {
                    $(".sect-linemap .sect-bcrumb .last").html("");
                }

            });

            function fnCategoryData(cno) {
                location.href = "/culture-event/popcorn-store/store-category?cno=" + cno;
            }

        </script>


        <!-- 카테고리 메뉴 -->
        <div th:replace="user/culture-event/fragment/category_store_wrap :: category_wrap"></div>
        <!-- 카테고리 메뉴 끝 -->


        <!-- E 카테고리 메뉴 & 받은선물/장바구니 -->
        <!-- S 장바구니 단계
                Description:
                    - step 는 두가지 타입
                        1. case1 : 장바구니/결제하기/결제완료
                        2. case2 : 장바구니/선물정보 입력/결제하기/결제완료)
                    - step가 활성화 되었을때 li 태그에 class 'active' 추가
            -->
        <div class="cart_step_wrap">
            <!-- S case1 -->
            <ul class="cart_step step_unit3">
                <li class="step0"><span>STEP 01</span><strong>장바구니</strong></li>
                <li class="step2"><span>STEP 02</span><strong>결제하기</strong></li>
                <li class="step3 active"><span>STEP 03</span><strong>결제완료</strong></li>
            </ul>
            <!-- S case1 -->
            <!-- S case2 -->
            <!-- <ul class="cart_step step_unit4">
                        <li class="step0"><span>STEP 01</span><strong>장바구니</strong></li>
                        <li class="step1"><span>STEP 02</span><strong>선물정보 입력</strong></li>
                        <li class="step2"><span>STEP 03</span><strong>결제하기</strong></li>
                        <li class="step3 active"><span>STEP 04</span><strong>결제완료</strong></li>
                    </ul> -->
            <!-- S case2 -->
        </div>
        <!-- E 장바구니 단계 -->
        <!-- S 결제완료 -->
        <div class="payment_complete_wrap">
            <div class="payment_complete_contents_wrap">
                <p>
                    <strong>상품 결제가 완료되었습니다.</strong>
                    <span th:utext="${gpcode.gpcode}"></span>
                    <span th:utext="${session.title}">안녕</span>
                </p>
                <dl>
                    <dt>총 상품금액</dt>
                    <dd>
                        <span th:utext="${session.price}"></span>
                    </dd>
                    <dt>할인금액</dt>
                    <dd>
                        <span>0</span>
                    </dd>
                    <dt class="payment_complete_total">총 결제금액</dt>
                    <dd>
                        <span th:utext="${session.price}"></span>

                    </dd>
                </dl>
            </div>
            <p class="com_box_design_olist">
                홈페이지 예매, 어플 예매는 쿠폰 번호 입력 후 이용이 가능하며, 현장 구매 시 상품별 바코드로 결제 가능합니다.</p>
            <p class="com_box_design_olist">
                친구에게 선물한 경우 입력하신 수신번호로 상품교환이 가능한 기프트콘이 발송됩니다.</p>
            <div class="com_btn_wrap pT60">
                <a href="#none" onclick="fn_PaymentDetail();" class="btn_style1" style="padding:0">결제내역</a>
                <a href="/culture-event/popcorn-store/store-category" class="btn_style0">상품 더보기</a>
            </div>
        </div>
        <!-- E 결제완료 -->


        <!--/ Contents End -->
    </div>
    <!-- /Contents Area -->
</div>
<!-- E Contaniner -->

<!-- S Popup -->
<div class="com_pop_wrap">
    <div class="com_pop_fog"></div>
</div>
<div class="pop_wrap"></div>

<!-- E Popup -->

<!-- S 예매하기 및 TOP Fixed 버튼 -->
<div class="fixedBtn_wrap">
    <a href="#none" class="btn_gotoTop"><img src="https://img.cgv.co.kr/R2014/images/common/btn/gotoTop.png" alt="최상단으로 이동" /></a>
</div>
<!-- E 예매하기 및 TOP Fixed 버튼 -->

<div th:replace="user/fragment/footer :: footer-user"></div>

</body>
</html>