<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="admin/fragment/head :: head('Admin - price')"></head>

<body class="sb-nav-fixed">

<nav th:replace="admin/fragment/nav :: nav"></nav>


<!-- header -->
<div th:replace="admin/fragment/header :: header"></div>
<!-- header 끝 -->

<div id="layoutSidenav_content" style="margin-top:70px; margin-left: 240px">
    <main>
        <div class="container-fluid px-4">
            <div class="mb-4">

                <div id="theaterPrice">
                    <table class="table table-borderless">
                        <tr>
                            <input type="hidden" id="tcode" th:value="${theaterDTO.tcode}" style="display: none">
                            <th id="theater" th:text="${theaterDTO.tname}"></th>
                        </tr>
                        <tr>
                            <th scope="col">요일</th>
                            <th scope="col">시간대</th>
                            <th scope="col">일반</th>
                            <th scope="col">청소년</th>
                        </tr>
                        <tr class="align-middle" id="monToThur">
                            <td>월~목</td>
                            <td>
                                <div class="slot">모닝(06:00 ~)</div>
                                <div class="slot">브런치(10:01 ~)</div>
                                <div class="slot">일반(13:01 ~)</div>
                            </td>
                            <td>
                                <div class="adultPrice">
                                    <input type="text" class="adult won" style="width: 75px;">원
                                </div>
                                <div class="adultPrice">
                                    <input type="text" class="adult won" style="width: 75px;">원
                                </div>
                                <div class="adultPrice">
                                    <input type="text" class="adult won" style="width: 75px;">원
                                </div>
                            </td>
                            <td>
                                <div class="stuPrice">
                                    <input type="text" class="student won" style="width: 75px;">원
                                </div>
                                <div class="stuPrice">
                                    <input type="text" class="student won" style="width: 75px;">원
                                </div>
                                <div class="stuPrice">
                                    <input type="text" class="student won" style="width: 75px;">원
                                </div>
                            </td>
                        </tr>
                        <tr class="align-middle" id="friToSun">
                            <td>금~일</td>
                            <td>
                                <div class="slot">모닝(06:00 ~)</div>
                                <div class="slot">브런치(10:01 ~)</div>
                                <div class="slot">일반(13:01 ~)</div>
                            </td>
                            <td>
                                <div class="adultPrice">
                                    <input type="text" class="adult won" style="width: 75px;">원
                                </div>
                                <div class="adultPrice">
                                    <input type="text" class="adult won" style="width: 75px;">원
                                </div>
                                <div class="adultPrice">
                                    <input type="text" class="adult won" style="width: 75px;">원
                                </div>
                            </td>
                            <td>
                                <div class="stuPrice">
                                    <input type="text" class="student won" style="width: 75px;">원
                                </div>
                                <div class="stuPrice">
                                    <input type="text" class="student won" style="width: 75px;">원
                                </div>
                                <div class="stuPrice">
                                    <input type="text" class="student won" style="width: 75px;">원
                                </div>
                            </td>
                        </tr>
                    </table>
                    <button type="button" id="submit" class="btn btn-outline-danger position-relative start-50 mt-3" onclick="submit()">등록</button>
                    <button type="button" id="_delete" class="btn btn-outline-danger position-relative start-50 mt-3" onclick="_delete()">삭제</button>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>

</body>
<script src="/js/priceCRUD.js"></script>
</html>