<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!--상단 쪽 common Erea-->

<div class="sect-common" th:fragment="common-user">
    <input type="hidden" id="isTown" name="isTown" value="Y" />
    <input type="hidden" id="userTownMemberInfo" name="userTownMemberInfo" value="" />
    <div class="mycgv-info-wrap">
        <div class="skipnaiv" >
            <a href="#menu" id="skipPersoninfo">개인화영역 건너띄기</a>
        </div>
        <div class="sect-person-info">
            <h2 class="hidden">개인화 영역</h2>
            <div class="box-image">
				<span class="thumb-image">
                    <!-- url 걸어서 db를 가져오는데 스크립트 구현 때 생각해봐야할 곳-->
					<img src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif" alt="김태훈님 프로필 사진" onerror="errorImage(this, {'type':'profile'})" />
					<span class="profile-mask"></span>
				</span>
            </div>
            <div class="box-contents newtype">
                <div class="person-info">
                    <strong>공유</strong>
                    <em>zero-U</em>
                    <span>zero-U : <i>닉네임을 설정해주세요.</i> </span>
                    <button id="go_edit_page" type="button" title="새창열림">나의 정보 변경</button>
                </div>
                <div class="grade-info">

                    <p style="margin-bottom:4px;color: #342929;font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;font-size: 20px;line-height: 20px;">

                        고객님은   <strong class="txt-purple">특급열차</strong> 입니다.

                    </p>

                    <button type="button" id="view_usergrade" class="round black"><span>MY 지난등급이력 보기</span></button>

                    <div class="layer-wrap">
                        <div id="user_grade" class="popwrap" style="width:330px;margin-top:-500px;margin-left:-165px; display: none">
                            <h1>VIP 등급 이력</h1>
                            <div class="pop-contents">
                                <!-- Contents Addon -->
                                <div class="sect-my-grade">
                                    <p><strong>공유</strong> 고객님의 연도별 고객 등급 이력입니다.</p>
                                    <div class="grade-lst-light scrollbox">
                                        <table summary="연도별 VIP 세부 등급 이력" id="mytable">
                                            <caption>VIP 등급 이력 리스트</caption>
                                            <colgroup>
                                                <col width="50%">
                                                <col width="*">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th scope="col">승급 년/월별</th>
                                                <th scope="col">등급</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="tb-desclist">
                                        <li>- 고객님의 등급은 당해년도 VIP 규정에 따라 부여된 등급입니다</li>
                                        <li>- 연속 VIP는 전년도와 등급 갱신월이 일치해야 인정됩니다<br />
                                            (예. 17년 4월 RVIP의 경우, 18년 4월 RVIP 갱신 시에만 2년 연속 RVIP로 인정되며, 2017년 5월 RVIP 승급 시 17년 5월에 1년 차 RVIP로 인정)</li>
                                        <li>- 등급이 하락된 경우 하락된 등급의 1년 차로 인정됩니다<br />
                                            (예. 17년 4월 SVIP의 경우 18년 4월 VVIP로 등급 하락 시 VVIP 1년 차로 인정)</li>
                                    </ul>
                                </div>
                                <!-- //Contents Addon -->
                            </div>
                            <button type="button" id="close_usergrade" class="btn-close ">MY 지난 등급 이력 팝업 닫기</button>
                        </div>

                    </div>
                    <div class="mycgv_btn_special2">
                        <!-- 세로줄 없어져서 맞추기용 div 및 class-->
                    </div>

                </div>

            </div>
        </div>


        <div class="cols-benefit-info">
            <div class="col-my-coupon">
                <h3>MY COUPON</h3>
                <ul>

                    <li style="height: 15px;">
                        <strong>CGV VIP에 도전하세요!</strong>
                        <span style="height: 15px;"><a href="/user/vip-lounge" class="round black1" style="line-height: 15px;"><i>CGV VIP 혜택보기</i></a></span>
                    </li>
                    <li>
                        <strong>영화관람권</strong>
                        <span><em><a href="/user/mycgv/coupon/movie-ticket/list.aspx?g=1#contaniner">1,000</a></em> 개</span>
                    </li>
                </ul>
            </div>


            <div class="col-one-point">
                <h3 style="background: url(/img/cgvpoint.png) center;">CGV POINT</h3>
                <a href="/user/mycgv/point/mycgv-cgvPoint-pointList">CGV POINT 더보기</a>
                <ul>
                    <li>
                        <strong>CGV 사용가능 포인트</strong>
                        <span><em class="txt-maroon"><a href="/user/mycgv/point/mycgv-cgvPoint-pointList">1,000</a></em> 점</span>
                    </li>
                    <li class="tooltip_list cf">
                        <strong>VIP선정 포인트</strong><a href="" class="mycgv_tooltip"><img src="https://img.cgv.co.kr/R2014/images/common/mycgv_tooltip/ico_tooltip.png" alt="i" /></a>

                        <div class="tooltip_con tc2"><span><img src="https://img.cgv.co.kr/R2014/images/common/mycgv_tooltip/tooltip_con2.png" alt="CGV에서 구매를 통해 적립된 매표 구매 포인트/매점&amp;씨네샵 구매 포인트/VIP 선정에 포함되는 이벤트 포인트가 누적으로 합산된 포인트 입니다" /></span></div>
                        <span><em>1,000</em> 점</span>
                    </li>
                </ul>

            </div>
            <div class="col-favorite-theater">
                <h3 class="hidden">자주가는 CGV</h3>
                <div class="sect-favorite">
                    <ul id="favoriteTheaters">

                        <li><a href="#" data-regioncode="" data-theatercode=""><span>1<em>순위</em></span></a></li>

                        <li><a href="#" data-regioncode="" data-theatercode=""><span>2<em>순위</em></span></a></li>

                        <li><a href="#" data-regioncode="" data-theatercode=""><span>3<em>순위</em></span></a></li>

                        <li><a href="#" data-regioncode="" data-theatercode=""><span>4<em>순위</em></span></a></li>

                        <li><a href="#" data-regioncode="" data-theatercode=""><span>5<em>순위</em></span></a></li>

                    </ul>
                    <button id="btn_set_my_favorite" title="새창" type="button" class="setting">자주가는 CGV<br />설정하기</button>
                </div>
            </div>

            <div class="cols-point-wrap">

            </div>

        </div>
    </div>
</div>

<!-- 상단 common Erea 끝-->
</html>