<!DOCTYPE html >
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<body class="sb-nav-fixed" th:fragment="nav-user">
<div class="col-aside">
    <div class="skipnaiv">
        <a href="#mycgv_contents" id="skipMycgvMenu">MYCGV 서브메뉴 건너띄기</a>
    </div>
    <h2>MY CGV 서브메뉴</h2>
    <div class="snb">
        <ul>
            <li>
                <a href="/user/mycgv" title="현재 선택">MY CGV HOME <i></i></a>
            </li>

            <li>
                <a href="/user/mycgv-reserve" >나의 예매내역 <i></i></a>
            </li>

            <li >
                <a href="/user/mycgv-cgvPoint" >CGV 포인트 <i></i></a>
                <ul>
                    <li >
                        <a href="/user/mycgv-cgvPoint-pointInfo" >포인트 적립/사용안내</a>
                    </li>
                    <li >
                        <a href="/user/mycgv-cgvPoint-pointList" >포인트 적립/사용내역</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/user/mycgv-event" title="현재선택">이벤트 참여내역 <i></i></a>
            </li>

            <li >
                <a href="/user/mycgv-popcorn-store" >기프트샵<i></i></a>
                <ul>
                    <li >
                        <a href="/user/mycgv-popcorn-store" title="현재 선택">내 기프트콘</a>
                    </li>
                    <li>
                        <a href="/user/mycgv-popcorn-store-paymentList" >결제내역</a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="/user/mycgv-myinfo" >회원정보<i></i></a>
                <ul>

                    <li >
                        <a href="/user/mycgv-myinfo-edit-myinfo" >개인정보 변경</a>
                    </li>

                    <li >
                        <a href="/user/mycgv-myinfo-leavecgv" >회원탈퇴</a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="/user/mycgv-myinfo-edit-myinfo-myprofile" >프로필 관리<i></i></a>
            </li>

            <li >
                <a href="/user/mycgv-qna-list" >나의 문의내역 <i></i></a>
                <ul>
                    <li >
                        <a href="/user/mycgv-qna-list" >1:1 문의</a>
                    </li>
                    <li >
                        <a href="/user/mycgv-lost-list" >분실물 문의</a>
                    </li>
                </ul>
            </li>

            <li class="my-event"><a href="/user/mycgv-movielog-watched">내가 본 영화</a></li>
        </ul>

    </div>
</div>
</body>
</html>