<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=1024" />
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작" />
    <meta name="description" content="CGV는 선진화된 관람문화와 최고의 서비스로 고객에게 잊을 수 없는 감동을 선사합니다. CGV홈페이지를 통해 영화 예매뿐만 아니라 그 이상의 서비스와 감동을 전달하고, 다양한 즐거움과 특별한 경험을 제공하고자 합니다." />
    <meta property="og:site_name" content="영화 그 이상의 감동. CGV"/>
    <meta id="ctl00_og_title" property="og:title" content="영화 그 이상의 감동. CGV"></meta>


    <meta id="ctl00_og_image" property="og:image" content="https://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png"></meta>
    <link rel="alternate" href="http://m.cgv.co.kr" />
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon" />
    <title id="ctl00_headerTitle">영화 그 이상의 감동. CGV</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css" />

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css" />
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css" />
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css" />

    <script type="text/javascript" src="/common/js/extraTheaters.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.config.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>

    <!--[if lte IE 9]><script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script><![endif]-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css" />

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/icheck/login.timer.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css" />

    <!-- 2020.05.07 감정지수/프리에그 프로젝트 추가 -->
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css" />

    <!-- 각페이지 Header Start-->

    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">https, http  혼합사용시-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/swiper.min.js" ></script>
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/swiper-bundle.min.css" />
    <![endif]-->

    <!--[if lte IE 9]>
    <script type="text/javascript">
        var iever = 'msie9';
    </script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script>
    <![endif]-->
    <script src="/js/detail-view.js"></script>




</head>
<body class="">


<div th:replace="user/fragment/header :: header-user"></div>

<!-- Contaniner -->
<div id="contaniner"  class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->


    <!-- Contents Area -->
    <div id="contents" class="">

        <!-- Contents Start -->

        <div id="divAction"></div>

        <!-- 실컨텐츠 시작 -->
        <div class="wrap-movie-detail" id="select_main">

            <div class="sect-base-movie">
                <h3><strong th:utext="${movie.getTitleKo()}"></strong>기본정보</h3>
                <div class="box-image">
                    <a th:href="${movie.poster}" title="포스터 크게 보기 새창" target="_blank">
            <span class="thumb-image">
                <img th:src="${movie.poster}" alt="극장판 주술회전 0 포스터 새창" onerror="errorImage(this)">
                <span class="ico-posterdetail">포스터 크게 보기</span>
                <span class="ico-grade "th:classappend=
                        "${(movie.movieRating =='전체 이용가' ? 'grade-all': '') +
                                                (movie.movieRating =='15세 이상' ? 'grade-15': '')+
                                                (movie.movieRating =='12세 이상' ? 'grade-12': '')+
                                                (movie.movieRating =='청소년 관람불가' ? 'grade-19': '')}" th:utext="${movie.movieRating}"></span>
            </span>
                    </a>
                </div>

                <div class="box-contents">
                    <!-- 해당 영화 정보 시작-->
                    <div class="title">
                        <strong th:utext="${movie.getTitleKo()}"></strong>

                        <em class="round brown"><span>예매중</span></em>
                        <em class="round red"><span>D-7</span></em>
                        <p th:utext="${movie.getTitleEn()}"></p>
                    </div>

                    <!-- 영화 예매율 -->
                    <div class="score">
                        <strong class="percent">예매율&nbsp;<span>24.2%</span></strong>
                    </div>
                    <!-- 떨어지는 얘 이전 요소에 class=on을 넣는다 -->
                    <div class="spec">
                        <dl>
                            <dt>감독 :&nbsp;</dt>
                            <dd>


                                <a href="#" th:utext="${director.dnameKo}"></a>

                            </dd>

                            <dd>

                            </dd>

                            <dt>&nbsp;/ 배우 :&nbsp;</dt>
                            <dd class="on">

                                <a href="#">오가타 메구미, </a>

                                <a href="#">하나자와 카나, </a>

                                <a href="#">코마츠 미카코, </a>

                                <a href="#">우치야마 코우키, </a>

                                <a href="#">세키 토모카즈, </a>

                                <a href="#">나카무라 유이치, </a>

                                <a href="#">사쿠라이 타카히로</a>
                            </dd>

                            <dt>장르 :&nbsp;</dt>
                            <dt th:utext="${movie.genre}"></dt>
                            <dt>&nbsp;/ 기본 :&nbsp;</dt>
                            <dd class="on" th:utext="|${movie.movieRating},|+| ${movie.runtime}분,|+| ${movie.country}|"></dd>
                            <dt>개봉 :&nbsp;</dt>
                            <dd class="on" th:utext="${movie.launchDate}"></dd>



                        </dl>
                    </div>


                    <span class="like">
        <!-- 2020.05.07 영화찜하기 -> 프리에그 선택 변경(조회하여 노출) -->
		<a class="link-count" href="javascript:void (0);"><i class="sprite_preegg btn_md default"></i>프리에그</a>
        <a class="link-reservation" href="ticket.jsp">예매</a>
    </span>
                    </span>

                </div>
            </div><!-- .sect-base -->

            <!-- 위시리스트 팝업 -->
            <div class="layer-wrap wishlist" id="movie-pre-select" style="top:100px; display:none">
                <div class="popwrap" style="width:516px;margin-top:0px;margin-left:-268px">
                    <h1>위시리스트</h1>
                    <div class="pop-contents">
                        <!-- Contents Addon -->
                        <div class="movie-pre-select">
                            <div class="header">
                                <p class="main"></p>
                            </div>
                            <div class="box">
                                <div class="desc">
                                    <div class="main">이 영화가 기대되시나요?</div>
                                    <div class="sub"><em>'기대돼요!'</em>를 선택하시면 <em>'기대되는 영화'에 추가</em>됩니다.</div>
                                </div>
                                <div class="wrap_btn">
                                    <a href="javascript:void(0);" class="btn good">
                                        <span class="sprite_preegg big favor"></span>
                                        <span>기대돼요!</span>
                                    </a>
                                    <a href="javascript:void(0);" class="btn bad">
                                        <span class="sprite_preegg big hate"></span>
                                        <span>글쎄요..</span>
                                    </a>
                                    <input type="hidden" id="preegg_useyn" value="">
                                </div>
                            </div>
                        </div>
                        <!-- //Contents Addon -->
                        <div class="set-btn fix-width">
                            <button type="submit" id="btnSave" class="round inred"><span>확인</span></button>
                        </div>
                    </div>
                    <button type="button" class="btn-close" id="wishlistClose">프리에그 팝업 닫기</button>
                </div>
            </div>

            <!-- //위시리스트 팝업 -->
            <div class="cols-content" id="menu">
                <div class="col-detail">
                    <ul class="tab-menu">
                        <li class="on"><a title="현재 선택됨" href="#">주요정보 </a></li>
                        <li><a th:href="@{'/movies/detail-view/cast/'+${movie.mcode}}">감독/출연</a></li>
                        <li><a th:href="@{'/movies/detail-view/trailer/'+${movie.mcode}}">트레일러</a></li>
                        <li><a th:href="@{'/movies/detail-view/still-cut/'+${movie.mcode}}">스틸컷</a></li>
                        <li><a href="#">평점/리뷰</a></li> <!-- 이부분 아직 cgv에서도 구현 전인것같음. -->
                        <li class="last"><a th:href="@{'/movies/detail-view/detail-show-times/'+${movie.mcode}}">상영시간표</a></li>
                    </ul>

                    <!-- 감독정보 넣는곳 -->
                    <div class="sect-staff-director">
                        <div class="heading">
                            <h4>감독</h4>
                        </div>
                        <ul>

                            <li class="clear">
                                <div class="box-image">
                                    <a href="#">
                                    <span class="thumb-image">
                                        <img th:src="${director.dphoto}" onerror="errorImage(this)" alt="드니 빌뇌브">
                                    </span>
                                    </a>
                                </div>
                                <div class="box-contents">
                                    <dl>
                                        <dd>
                                            <a href="#" >
                                        <dd th:utext="${director.dnameKo}"></dd>
                                                <span th:utext="${director.dnameEn}"></span>
                                            </a>
                                        </dd>
                                    </dl>
                                </div>
                                <!-- 감독 출연 작품 -->
                                <div class="movielist">
                                    <p>연관작품</p>
                                    <ul>

                                        <li>
                                            <div class="box-image">
                                                <a href="detail-view.jsp">
                                                <span class="thumb-image">
                                                    <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000079/79952/79952_73.jpg" alt="블레이드 러너 2049" onerror="errorImage(this)">
                                                </span>
                                                </a>
                                            </div>
                                            <div class="box-contents">
                                                <a href="detail-view.jsp">
                                                    <strong>블레이드 러너 2049<!--<span>(9999)</span>--></strong>
                                                </a>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- .sect-staff-director -->
                    <!-- 출연진 정보 넣는 곳 -->
                    <div class="sect-staff-actor">
                        <div class="heading">
                            <h4>출연</h4>
                        </div>
                        <ul>

                            <li>
                                <div class="box-image">
                                    <a href="#">
                                    <span class="thumb-image">
                                        <img src="http://image.cine21.com/resize/cine21/still/2018/1114/11_52_42__5beb8dfa348e4[X120,150].jpg" alt="톰 홀랜드" onerror="errorImage(this)" style="width:100px; height:136px;">
                                    </span>
                                    </a>
                                </div>
                                <div class="box-contents">
                                    <dl>
                                        <!-- 주연 dt 에 class="mainactor" 조연 class="subactor" 를 넣는다 -->
                                        <dt class="mainactor">주연</dt>
                                        <dd>
                                            <a href="#">톰 홀랜드<span>Tom Holland</span></a>
                                        </dd>
                                    </dl>
                                </div>
                                <!-- 배우별 출연 영화 정보넣는 곳 -->
                                <div class="movielist">
                                    <p class="txt-title">연관작품</p>
                                    <ul>

                                        <li>
                                            <div class="box-contents">
                                                <a title="(스파이더맨: 홈커밍데이)" href="#">
                                                    <strong>스파이더맨: 홈커밍데이<span>(2017)</span></strong>
                                                </a>
                                            </div>
                                        </li>



                                    </ul>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div><!-- .col-detail -->

                <div class="col-aside" style="padding-top:120px">
                    <div class="ad-partner01">
                        <iframe src="http://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/sub@M_Rectangle" width="160" height="300" title="영화광고-나이트메어앨리" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="M_Rectangle" id="M_Rectangle"></iframe>
                    </div>
                    <div class="ad-external01">
                        <iframe src="http://ad.cgv.co.kr/NetInsight/html/CGV/CGV_201401/sub@C_Rectangle" width="160" height="300" title="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" name="C_Rectangle" id="C_Rectangle"></iframe>
                    </div>

                </div>



            </div>




        </div><!-- .col-detail -->
        <iframe class="layer-wrap review_pop" name="ifrm_movie_time_table1" id="ifrm_movie_time_table1" style="display:none" title="상세리스트" height="993px" width="849px" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><!--회원 평점 모아보기 iframe. mwpark_RR2015-->
        <form method="post" id="frmPointPopup" action="/movies/point/default-irm.aspx" novalidate="novalidate">
            <input type="hidden" name="userid" id="frmPointUserId">
            <input type="hidden" name="nick" id="frmPointNick">
        </form>

    </div>
    <span style="display:none" class="modifyCommentDummy"></span>
</div>
<!-- 실컨텐츠 끝 -->


<!--/ Contents End -->
</div>





<!-- S Popup -->
<div class="com_pop_wrap">
    <div class="com_pop_fog"></div>
</div>

<!-- E Popup -->

<!-- S 예매하기 및 TOP Fixed 버튼 -->
<div class="fixedBtn_wrap">

    <a href="#none" class="btn_gotoTop"><img src="https://img.cgv.co.kr/R2014/images/common/btn/gotoTop.png" alt="최상단으로 이동" /></a>
</div>

<!-- E 예매하기 및 TOP Fixed 버튼 -->

<div th:replace="user/fragment/footer:: footer-user"></div>

</div>


</body>
</html>