
<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="No-Cache" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=1024" />
    <meta name="keywords" content="CGV, 시지브이, 영화관, 극장, 영화, 티켓, 박스오피스, 극장, Movie, Theater, Cinema, Cgv, cgv, 예매, 상영작" />
    <meta name="description" content="CGV는 선진화된 관람문화와 최고의 서비스로 고객에게 잊을 수 없는 감동을 선사합니다. CGV홈페이지를 통해 영화 예매뿐만 아니라 그 이상의 서비스와 감동을 전달하고, 다양한 즐거움과 특별한 경험을 제공하고자 합니다." />
    <meta property="og:site_name" content="영화 그 이상의 감동. CGV"/>
    <meta id="ctl00_og_title" property="og:title" content="영화 그 이상의 감동. CGV"></meta>


    <meta id="ctl00_og_image" property="og:image" content="https://img.cgv.co.kr/WebApp/images/common/logo_new_kakao_prevw.png"></meta>
    <link rel="alternate" href="http://m.cgv.co.kr" />
    <link rel="shortcut icon" href="https://img.cgv.co.kr/theater_img/favicon.ico" type="image/x-icon" />
    <title id="ctl00_headerTitle">영화 그 이상의 감동. CGV</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://img.cgv.co.kr/R2014/images/favicon.ico" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/webfont.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/reset.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/layout.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/module.css?20211209" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/content.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/common.css" />

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/eggupdate.css" />
    <link rel="stylesheet" media="print" type="text/css" href="https://img.cgv.co.kr/R2014/css/print.css" />
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/jquery.ui/smoothness/jquery-ui-1.10.4.custom.min.css" />

    <script type="text/javascript" src="/common/js/extraTheaters.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.config.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.validate.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.paging.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.ui/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.utils.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.utils.pageing.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/app.init.js"></script>

    <!--[if lte IE 9]><script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script><![endif]-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/silverlight_link.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/phototicket/phototicket.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick.css" />
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/slick-theme-custom.css" />

    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/icheck/login.timer.js"></script>
    <script src="https://img.cgv.co.kr/R2014/js/icheck/icheck.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="https://img.cgv.co.kr/R2014/js/icheck/iCheck.css" />

    <!-- 2020.05.07 감정지수/프리에그 프로젝트 추가 -->
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/preegg.css" />

    <!-- 각페이지 Header Start-->

    <!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">https, http  혼합사용시-->
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/swiper.min.js" ></script>
    <link rel="stylesheet" media="all" type="text/css" href="https://img.cgv.co.kr/R2014/css/swiper-bundle.min.css" />
    <!--[if lte IE 9]>
    <script type="text/javascript">
        var iever = 'msie9';
    </script>
    <script type="text/javascript" src="https://img.cgv.co.kr/R2014/js/jquery.plugin/jquery.placeholder.js"></script>
    <![endif]-->




</head>
<body class="">

<div th:replace="user/fragment/header :: header-user"></div>

<!-- Contaniner -->
<div id="contaniner"  class=""><!-- 벽돌 배경이미지 사용 시 class="bg-bricks" 적용 / 배경이미지가 없을 경우 class 삭제  -->


    <!-- Contents Area -->
    <div id="contents" class="">


        <!-- Contents Start -->



        <!-- 실컨텐츠 시작 -->
        <div class="wrap-movie-chart">
            <!-- Heading Map Multi -->
            <!-- //Heading Map Multi -->
            <!-- Sorting -->


            <!-- //Sorting -->

            <div class="wrap-movie-chart">
                <!-- Heading Map Multi -->
                <div class="tit-heading-wrap">
                    <h3>무비차트</h3>

                    <div class="submenu">
                        <ul>
                            <li class="on"><a href="movies.html" title="선택">무비차트</a></li>
<!--                            <li><a href="pre-movies.html">상영예정작</a></li>-->
                            <!--<li><a href="/movies/?lt=3">CGV아트하우스</a></li>//-->
                        </ul>
                    </div>
                </div>
                <!-- //Heading Map Multi -->
                <!-- Sorting -->
                <div class="sect-sorting">
                    <div class="nowshow">
                        <input type="checkbox" id="chk_nowshow">

                        <label for="chk_nowshow" style="margin-bottom: 20px">현재 상영작만 보기</label>

                    </div>
                    <!--  sorting 부분입니다. 화면 전환없이 데이터만 순서 변경하여 나열하는 기능 여기서 구현합니다. -->
<!--                    <label for="order_type" class="hidden">정렬</label>-->
<!--                    <select id="order_type" name="order-type">-->
<!--                        <option title="현재 선택됨" selected="" value="1">예매율순</option>-->
<!--                        <option value="2">평점순</option>-->
<!--                        <option value="3">관람객순</option>-->
<!--                    </select>-->
<!--                    <button type="button" class="round gray"><span>GO</span></button>-->
                </div>
                <!-- //Sorting -->

                <div class="sect-movie-chart" style="margin-top: 60px">
                    <h4 class="hidden">
                        무비차트 - 예매율순
                    </h4>
                    <ol id="changeView">


                    </ol>
                </div>
            </div>
        </div>

        <!-- .sect-moviechart -->
        <!--/ Contents End -->
    </div>
    <!-- /Contents Area -->
</div>
<!-- E Contaniner -->

<!-- S Popup -->
<div class="com_pop_wrap">
    <div class="com_pop_fog"></div>
</div>

<!-- E Popup -->



<div th:replace="user/fragment/footer:: footer-user"></div>


</div>


</body>

<script th:inline="javascript">

    /*<![CDATA[*/
    let movieList=[[${MovieList}]];
    console.log(movieList);
    // ol 태그 안 changeView, 무비리스트 전체 다
    let changeView= document.getElementById("changeView");
    for(let i=0; i<=movieList.length-1; i++){
        changeView.innerHTML+=
        `
                        <li>
                            <strong class="rank">No. ${i+1}</strong>
                                <div class="box-image">
                                <a onclick=location.href='/movies/detail-view/'+${movieList[i].mcode}>
                            <span class="thumb-image">
                                <img src="${movieList[i].poster}" alt="언차티드 포스터">
                                <span class="ico-grade
                                     ${(movieList[i].movieRating =='전체 이용가' ? 'grade-all': '') +
                                    (movieList[i].movieRating =='15세 이상' ? 'grade-15': '')+
                                    (movieList[i].movieRating =='12세 이상' ? 'grade-12': '')+
                                    (movieList[i].movieRating =='청소년 관람불가' ? 'grade-19': '')}
                                      ">${movieList[i].movieRating}</span>
                            </span>

                                </a>
                            </div>

                            <div class="box-contents">
                                <a href="movies/detail-view">
                                    <strong class="title">${movieList[i].titleKo}</strong>
                                </a>

                                <span class="txt-info">
                            <strong>${movieList[i].launchDate}</strong>
                                <span>개봉</span>
                        </span>
                                <span class="like">
                            <a class="link-reservation" href="#">예매</a>
                        </span>
                            </div>

                        </li>
`}
    /*]]>*/

    // // 순위 반영
    // let rank=document.getElementsByClassName("rank");
    // for(let i=0; i<=rank.length-1; i++){
    //     rank[i].innerHTML=
    // }
    // chk_nowshow 현재 상영중인 것만 보기 선택시
    $("#chk_nowshow").change(function(){
        changeView.innerHTML="";
        if($("#chk_nowshow").is(':checked')){
            let now="상영중";
            $.ajax({
                url:"/nowplaying",
                data:{now, now},
                type:"post",
                dataType:"json"
            }).done(function(res){
                console.log(res);
                for(let i=0; i<=res.length-1; i++){

                    changeView.innerHTML+=
                        `
                        <li>
                            <strong class="rank">No. ${i+1}</strong>
                                <div class="box-image">
                                <a onclick=location.href='/movies/detail-view/'+${res[i].mcode}>
                            <span class="thumb-image">
                                <img src="${res[i].poster}" alt="언차티드 포스터">
                                <span class="ico-grade grade-12"></span>
                            </span>

                                </a>
                            </div>

                            <div class="box-contents">
                                <a href="movies/detail-view">
                                    <strong class="title">${res[i].titleKo}</strong>
                                </a>

                                <span class="txt-info">
                            <strong>${res[i].launchDate}</strong>
                                <span>개봉</span>
                        </span>
                                <span class="like">
                            <a class="link-reservation" href="#">예매</a>
                        </span>
                            </div>

                        </li>
`
                }
            })
        }else{
            for(let i=0; i<=movieList.length-1; i++){
                changeView.innerHTML+=
                    `
                        <li>
                            <strong class="rank">No. ${i+1}</strong>
                                <div class="box-image">
                                <a onclick=location.href='/movies/detail-view/'+${movieList[i].mcode}>
                            <span class="thumb-image">
                                <img src="${movieList[i].poster}" alt="언차티드 포스터">
                                <span class="ico-grade grade-12"></span>
                            </span>

                                </a>
                            </div>

                            <div class="box-contents">
                                <a href="movies/detail-view">
                                    <strong class="title">${movieList[i].titleKo}</strong>
                                </a>

                                <span class="txt-info">
                            <strong>${movieList[i].launchDate}</strong>
                                <span>개봉</span>
                        </span>
                                <span class="like">
                            <a class="link-reservation" href="#">예매</a>
                        </span>
                            </div>

                        </li>
`}
        }
    })



</script>
</html>